
@{
    ViewData["Title"] = "_Footer";
}

<footer id="footer" class="c-footer">
    <div class="c-footer__equal-housing-logo"></div>
    <div class="l-row l-row--footer-logo">
        <div class="l-container">
            <div class="c-footer__logo">
                <a href="index.html">Homes.Forsale</a>
            </div>
        </div>
    </div>
    <div class="l-row l-row--copyright">
        <div class="l-container">
            <ul class="l-list l-list--social c-footer__social">
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="/AgentProfile/images/social/icon-instagram.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="/AgentProfile/images/social/icon-instagram-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="/AgentProfile/images/social/icon-twitter.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="/AgentProfile/images/social/icon-twitter-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="/AgentProfile/images/social/icon-facebook.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="/AgentProfile/images/social/icon-facebook-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="/AgentProfile/images/social/icon-linkedin.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="/AgentProfile/images/social/icon-linkedin-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="/AgentProfile/images/social/icon-youtube.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="/AgentProfile/images/social/icon-youtube-white.svg" alt="">
                        </span>
                    </a>
                </li>
            </ul>
            <div class="c-footer__copyright">
                <p>
                    &copy; Copyright 2017, all rights are reserved. Real Estate Pros, LLC
                </p>
                <p>
                    Updated January 2016: By searching, you agree to the <a href="#">Terms of Use</a>, <a href="#">Privacy Policy</a> and <a href="#">End-User License Agreement.</a>
                </p>
            </div>
        </div>
    </div>
</footer>