
@{
    ViewData["Title"] = "_HeaderLogo";
}

<div class="c-header__logo">
    <a href="index.html">
        <span class="c-header__logo-icon"></span>
        <span class="c-header__logo-txt">Houses.Forsale</span>
    </a>
</div>

