
@{
    ViewData["Title"] = "_LoginSetting";
}


    <li class="notices">
        <a href="#"><span class="c-header__user-notices c-header__user--has-notices">1</span> Notices</a>
    </li>
    <li>
        <a href="#">Account Settings</a>
    </li>
    <li>
        <a href="#">Saved Searches</a>
    </li>
    <li>
        <a href="#">Viewed Homes</a>
    </li>
    <li>
        <a href="#">Favorited Homes</a>
    </li>
    <li>
        <a href="#">Log Out</a>
    </li>

