
@{
    ViewData["Title"] = "NavToggole";
}

<button type="button" class="c-header__nav-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="c-header__nav-close l-close-btn"></span>
</button>

